# Mapped from client_react .env (REACT_APP_* -> NEXT_PUBLIC_*)
NEXT_PUBLIC_BACK_END_URL=http://localhost:3001
NEXT_PUBLIC_FRONT_END_URL=http://localhost:3000
NEXT_PUBLIC_GG_APP_ID=
NEXT_PUBLIC_FACEBOOK_APP_ID=
NEXT_PUBLIC_TWITTER_APP_ID=
NEXT_PUBLIC_APPLE_ID='ttest'
NEXT_PUBLIC_NODE_ENV=development
